## Data Preparation

In [1]:
import time
import numpy as np
import pandas as pd

#Preparing the uber 2014 main dataset
def prepare_2014_df():
    
    #Loading datasets
    uber_2014_apr=pd.read_csv('uber-raw-data-apr14.csv',header=0)
    uber_2014_may=pd.read_csv('uber-raw-data-may14.csv',header=0)
    uber_2014_jun=pd.read_csv('uber-raw-data-jun14.csv',header=0)
    uber_2014_jul=pd.read_csv('uber-raw-data-jul14.csv',header=0)
    uber_2014_aug=pd.read_csv('uber-raw-data-aug14.csv',header=0)
    uber_2014_sep=pd.read_csv('uber-raw-data-sep14.csv',header=0)
    
    #Merging
    df = uber_2014_apr.append([uber_2014_may,uber_2014_jun,uber_2014_jul,uber_2014_aug,uber_2014_sep],ignore_index=True)
    
    #Returning merged dataframe
    return df

#Uber 2014 dataset
trips = prepare_2014_df()

trips.columns = ['timestamp', 'lat', 'lon', 'base']

#Display information about the csv
trips.info()

#Visualize the first 4 rows of the csv
trips.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4534327 entries, 0 to 4534326
Data columns (total 4 columns):
timestamp    object
lat          float64
lon          float64
base         object
dtypes: float64(2), object(2)
memory usage: 138.4+ MB

          timestamp      lat      lon    base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

The csv containing the data is then loaded and in order to get an idea of how the data look like some simple commands are executed.

Converting the timestamp column in a timestamp panda object will help a lot distinguising features like date, month and year easily later. We could use the timestamp column for sorting and grouping directly, but it will be much easier now that we are still at an early stage of the analysis to just create new columns and extract some features for the timestamp that will be used in the later stages of the analysis.

Checking for null values in the data set

In [2]:
ti = time.time()
trips["timestamp"]=pd.to_datetime(trips["timestamp"])
trips['weekday'] = trips.timestamp.dt.weekday_name
trips['month'] = trips.timestamp.dt.month
trips['day'] = trips.timestamp.dt.day
trips['hour'] = trips.timestamp.dt.hour
trips['minute'] = trips.timestamp.dt.minute

trips['dayofweek'] = trips.timestamp.dt.weekday

day_map = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday']
trips['weekday'] = pd.Categorical(trips['weekday'], categories=day_map, ordered=True)

trips.to_csv("formated_uber_data.csv", encoding='utf-8', index=False)

tf = time.time()
print(tf-ti,' seconds.')
trips.head()

531.2999801635742  seconds.

,timestamp,lat,lon,base,weekday,month,day,hour,minute,dayofweek
0,2014-04-01 00:11:00,40.7690,-73.9549,B02512,Tuesday,4,1,0,11,1
1,2014-04-01 00:17:00,40.7267,-74.0345,B02512,Tuesday,4,1,0,17,1
2,2014-04-01 00:21:00,40.7316,-73.9873,B02512,Tuesday,4,1,0,21,1
3,2014-04-01 00:28:00,40.7588,-73.9776,B02512,Tuesday,4,1,0,28,1
4,2014-04-01 00:33:00,40.7594,-73.9722,B02512,Tuesday,4,1,0,33,1

In [3]:
#Check for duplicate rows
len(trips[trips.duplicated() == True])

82581

In [4]:
#Check for null values
trips.isnull().values.any()

False